---
const { date, title, image, imageAlt, brief } = Astro.props
---

<a class="max-w-sm rounded-lg border border-gray-200 bg-white shadow">
	<img class="rounded-t-lg" src={image} alt={imageAlt} />

	<div class="p-5">
		<p class="text-xs text-neutral-600">{date}</p>

		<h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-900">
			{title}
		</h5>

		<p class="mb-3 text-sm text-gray-700">
			{brief}
		</p>
	</div>
</a>
